@page "/exercise/{id}"
@inject HttpClient Http


@if (exercise is not null)
{
    <PageTitle>Details for @exercise?.Name</PageTitle>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h1>@exercise.Name</h1>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="@exercise.GifUrl" alt="@exercise.Name" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <div>
                    <h3>Instructions</h3>
                    <ul>
                        @if (exercise.Instructions is not null)
                        {
                            foreach (var instruction in exercise.Instructions)
                            {
                                <li>@instruction</li>
                            }
                        }
                    </ul>
                </div>
                <div>
                    <h6>Body part:</h6>
                    <p>@exercise.BodyPart</p>
                    <h6>Equipment:</h6>
                    <p>@exercise.Equipment</p>
                    <h6>Target muscle:</h6>
                    <p>@exercise.Target</p>

                    <div>
                        <h6>Secondary muscles:</h6>
                        @if (exercise.SecondaryMuscles is not null)
                        {
                            foreach (var muscle in exercise.SecondaryMuscles)
                            {
                                <p>@muscle</p>
                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
            <h3>Video</h3>
            @if (youtubeSearchResult?.Contents is not null)
            {
                @foreach (var content in youtubeSearchResult.Contents.Take(1))
                {
                    var video = content.Video;
                    <div>
                        <iframe src="https://www.youtube.com/embed/@video.VideoId" allowfullscreen alt="@video.Title"></iframe>
                    </div>
                    <p>Created by: @video.ChannelName</p>
                }
            }
            else
            {
                <p>No videos found.</p>
            }
        </div>
    </div>
}
else
{
    <p>Loading exercise details...</p>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private Exercise? exercise;
    private YoutubeSearchResult? youtubeSearchResult;

    protected override async Task OnInitializedAsync()
    {
        exercise = await Http.GetFromJsonAsync<Exercise>($"exercise/{Id}");
        if (exercise is not null)
        {
            youtubeSearchResult = await Http.GetFromJsonAsync<YoutubeSearchResult>($"youtube/search?query={exercise.Name}");
        }
    }
}
