@if (Exercise is not null)
{
    <MudCard Style="height: 550px;">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.body1" Align="Align.Center">
                    @Exercise.Name
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudDivider />
        <MudImage Fluid="true" Src="@Exercise.GifUrl" Alt="Exercise GIF" Class="rounded-lg" Style="display: block; margin-left: auto; margin-right: auto;" />
        <MudCardContent>
            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd" Class="gap-0" Style="gap: 0;">
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" Class="p-0" />
                <MudSpacer />
                <MudChip Variant="Variant.Text" Color="Color.Primary">
                    @Exercise.Target.ToUpper()
                </MudChip>
                <MudChip Variant="Variant.Text" Color="Color.Primary">
                    @Exercise.BodyPart.ToUpper()
                </MudChip>
                <MudChip Variant="Variant.Text" Color="Color.Primary">
                    @Exercise.Equipment.ToUpper()
                </MudChip>
            </MudStack>
        </MudCardContent>
        <MudDivider />
        <MudSpacer />
        <MudCardActions>
            <MudButton FullWidth="true" Variant="Variant.Text" Color="Color.Primary">DETAILS</MudButton>
        </MudCardActions>
    </MudCard>
}
else
{
    <div>
        @* TODO: ADD SUITABLE PLACEHOLDER IMAGE THAT MATCHES SIZE OF GIFURL *@
        <img alt="Exercise Gif" src="..." />
        <div>
            <h5>
                <span></span>
            </h5>
            <p>
                <span></span>
            </p>
            <p>
                <span></span>
            </p>
            <p>
                <span></span>
            </p>
        </div>
        <div>
            <button>
                Details
            </button>
        </div>
    </div>
}

@code {
    [Parameter]
    public Exercise? Exercise { get; set; }
}
